<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Floppa Files</title>
    <link rel="icon" type="image/png" href="icon.png" />
    <link rel="stylesheet" href="tw.css" />
    <link href="https://api.fontshare.com/v2/css?f[]=clash-display@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ea5efe8481.js" crossorigin="anonymous"></script>
  </head>
  <body class="bg-bg text-text font-mono flex justify-center md:text-lg">
    <div class="p-6 w-full lg:w-[1024px] space-y-4">
      <h1 class="text-5xl md:text-7xl font-display text-white text-center">Floppa Files</h1>
      <div class="bg-fg p-2 md:p-4 rounded-md" id="list">
        <span class="text-white hidden sm:inline"># Upload files with curl:<br/></span>
	    <span class="hidden sm:inline">$ curl {{base_url}}/up/example.txt --data-binary @example.txt<br/><br/></span>
        <span class="text-white hidden sm:inline"># Or upload online:<br/></span>
        <input type="file" id="file" class="hidden">
        <div class="text-4xl p-2 sm:text-base sm:p-0">
          <i class="fa-solid fa-file-arrow-up"></i>
          <label for="file" class="underline cursor-pointer">Select file</label>
        </div>
      </div>
      <div class="bg-fg p-2 md:p-4 rounded-md">
        <span class="text-white"># Info:</span><br/>
        <i class="fa-solid fa-file"></i> {{max_size}} max file size.<br/>
        <i class="fa-solid fa-calendar-days"></i> Files kept forever.<br/>
        <i class="fa-solid fa-tag"></i> Always Free.<br/>
        <i class="fa-solid fa-database"></i> {{files}} files uploaded so far, totalling {{size}}.
      </div>
    </div>
    <img class="fixed bottom-0 right-0 w-[160px] md:w-[320px]" src="{{img}}.png" alt="" />
    <p class="fixed bottom-2 left-2 text-sm md:text-base" >
      v{{version}}<br/>
      <i class="fa-brands fa-github"></i> <a href="https://github.com/gosher-studios/floppa-files" target="_blank" class="underline">View on GitHub</a>
    </p>
    <script>
	    let list = document.getElementById("list");
      document.getElementById("file").onchange = async (e) => {
        let file = e.target.files[0];
        list.innerHTML += "<br/><span>Uploading "+file.name+".</span>";
        let response = await fetch("/up/"+file.name, {
          method: "POST",
          body: file,
        });
        let url = await response.text();
        list.lastChild.innerHTML = "<a href="+url+" target=\"_blank\" class=\"underline\">"+url+"</a>";
      }
    </script>
  </body>
</html>
